{% extends 'base.html' %}
{% block title %}
<title>Vibemart - Account</title>
{% endblock title %}

{% if not 'user_id' in session %}
    {% set redirect_url = url_for('/login') %}
{% endif %}

{% block content %}
<main class="main">
    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link   " id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">My Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-items-link" data-toggle="tab" href="#tab-items" role="tab" aria-controls="tab-items" aria-selected="false">My Items</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Addresses</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/logout">Sign Out</a>
                            </li>
                        </ul>
                    </aside>

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">{{ user_id }}</span> (not <span class="font-weight-normal text-dark">{{ user_id }}</span>? <a href="/logout">Log out</a>) 
                                <br>
                                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div>

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                <p>No order has been made yet.</p>
                                <a href="/" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
                            </div>

                            <div class="tab-pane fade" id="tab-items" role="tabpanel" aria-labelledby="tab-items-link">
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                {% if category == 'seller_item_success' %}
                                                    <div class="alert alert-success" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% elif category == 'seller_item_danger' %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}

                                    <a href="#" id="editItemLink" style="display: block;" onclick="displayItemEditForm()">Add</a>
                                    <a href="#" id="cancelItemLink" style="display: none;" onclick="hideItemEditForm()">Cancel</a>
                                    <div id="sellerItemInfo">
                                    {% if selleritems|length == 0 %}
                                        <p> No item has been added yet. </p>
                                    {% else %}
                                    <div class="page-content">
                                        <div class="col-sm-60">
                                            <table class="table table-wishlist table-mobile">
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Stock Status</th>
                                                        <th>Offer Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for selleritem in selleritems %}
                                                    <tr>
                                                        <td class="product-col">
                                                            <div class="product">
                                                                <figure class="product-media">
                                                                    <a href="#">
                                                                        <img src="../static/assets/images/products/table/product-1.jpg" alt="Product image">
                                                                    </a>
                                                                </figure>
                        
                                                                <h3 class="product-title">
                                                                    <a href="#">{{ selleritem.item_name }}</a>
                                                                </h3><!-- End .product-title -->
                                                            </div><!-- End .product -->
                                                        </td>
                                                        <td class="price-col">$ {{ selleritem.item_price }}</td>
                                                        <td class="stock-col"><span class="in-stock">{{ selleritem.item_current_status}}</span></td>
                                                        <td class="offer-col"><span class="offer-status">{{ selleritem.item_offer_status }}</span></td>
                                                        <td> <a href="#" onclick="displayItemEditFormUser('{{selleritem.item_id}}')">Edit <i class="icon-edit"></i></a></p></td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% endif %}
                                    </div>
                                    <form id="editItem" style="display: none;" action="/account" method="POST">
                                        {{ seller_items.csrf_token() }}
                                        {% if seller_items.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for field_errors in seller_items.errors.values() %}
                                                    {% for error in field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemname">Item Name *</label>
                                            {{ seller_items.item_name(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemprice">Item Price *</label>
                                            {{ seller_items.item_price(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemcategory">Item Category *</label>
                                            {{ seller_items.item_category(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemquantity">Item Quantity *</label>
                                            {{ seller_items.item_quantity(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemdescription">Item Description *</label>
                                            {{ seller_items.item_description(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemimage">Item Image *</label>
                                            {{ seller_items.item_image(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="item_current_status">Item Current Status *</label>
                                            {{ seller_items.item_current_status(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="item_offer_status">Item Offer Status</label>
                                            {{ seller_items.item_offer_status(class='form-control')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="item_offer_start_date">Item Offer Start Date</label>
                                            {{ seller_items.item_offer_start_date(class='form-control')}}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="item_offer_end_date">Item Offer End Date</label>
                                            {{ seller_items.item_offer_end_date(class='form-control')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="item-offer-percentage">Item Offer Percentage</label>
                                                {{ seller_items.item_offer_percentage(class='form-control')}}
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="item-offer-price">Item Offer Price</label>
                                                {{ seller_items.item_offer_price(class='form-control')}}
                                            </div>
                                        </div>
                                        {{ seller_items.submit(class='btn btn-outline-primary-2 mt-3 mb-3')}}
                                        {{ seller_items.update(class='btn btn-outline-primary-2 mt-3 mb-3')}}
                                        {{ seller_items.delete(class='btn btn-outline-primary-2 mt-3 mb-3')}}
                                    </form>

                                    <form id="editExistedItemForm" style="display: none;" action="/account" method="POST">
                                        {{ seller_items.csrf_token() }}
                                        {% if seller_items.errors %}
                                            <div class="alert alert-danger" role="alert">
                                                {% for field_errors in seller_items.errors.values() %}
                                                    {% for error in field_errors %}
                                                        {{ error }}
                                                    {% endfor %}
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemname">Item Name *</label>
                                            
                                            {{ seller_items.item_name(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemprice">Item Price *</label>
                                            {{ seller_items.item_price(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemcategory">Item Category *</label>
                                            {{ seller_items.item_category(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemquantity">Item Quantity *</label>
                                            {{ seller_items.item_quantity(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="itemdescription">Item Description *</label>
                                            {{ seller_items.item_description(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="itemimage">Item Image *</label>
                                            {{ seller_items.item_image(class='form-control', required='required') }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="item_current_status">Item Current Status *</label>
                                            {{ seller_items.item_current_status(class='form-control', required='required') }}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="item_offer_status">Item Offer Status</label>
                                            {{ seller_items.item_offer_status(class='form-control')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                            <label for="item_offer_start_date">Item Offer Start Date</label>
                                            {{ seller_items.item_offer_start_date(class='form-control')}}
                                            </div>
                                            <div class="col-sm-6">
                                            <label for="item_offer_end_date">Item Offer End Date</label>
                                            {{ seller_items.item_offer_end_date(class='form-control')}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label for="item-offer-percentage">Item Offer Percentage</label>
                                                {{ seller_items.item_offer_percentage(class='form-control')}}
                                            </div>
                                            <div class="col-sm-6">
                                                <label for="item-offer-price">Item Offer Price</label>
                                                {{ seller_items.item_offer_price(class='form-control')}}
                                            </div>
                                        </div>
                                        {{ seller_items.update(class='btn btn-outline-primary-2 mt-3 mb-3')}}
                                        {{ seller_items.delete(class='btn btn-outline-primary-2 mt-3 mb-3')}}
                                    </form>
                            </div>

                            <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                <p>The following addresses will be used on the checkout page by default.</p>
                                <br>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <h3 class="card-title">Billing and Shipping Address</h3>
                                                
                                                
                                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                                        {% if messages %}
                                                            {% for category, message in messages %}
                                                                {% if category == 'address_success' %}
                                                                    <div class="alert alert-success" role="alert">
                                                                        {{ message }}
                                                                    </div>
                                                                {% elif category == 'address_danger' %}
                                                                    <div class="alert alert-danger" role="alert">
                                                                        {{ message }}
                                                                    </div>
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endwith %}
                                                <div id="editContainer">
                                                {% for account in accounts%} 
                                                    {% if account.firstname is not none %}
                                                        <a href="#" id="editLink" onclick="displayEditForm()">Edit</a>
                                                        <p><label for="name">Full Name: </label> {{ account.firstname }} {{ account.lastname }}</p>
                                                        <div id="userInfo">
                                                            <p><label for="email">Email: </label> {{ account.email }}</p>
                                                            <p><label for="phone">Phone: </label> {% if account.phone is none%} {% else %}{{ account.phone }} {% endif %}</p>
                                                            <p><label for="address_line1">Address Line 1: </label> {% if account.address_line1 is none%} {% else %}{{ account.address_line1 }} {% endif %}</p>
                                                            <p><label for="address_line2">Address Line 2: </label> {% if account.address_line2 is none%} {% else %}{{ account.address_line2 }} {% endif %}</p>
                                                            <p><label for="country">Country: </label> {% if account.country is none%} {% else %}{{ account.country }} {% endif %}</p>
                                                            <p><label for="state">State: </label> {% if account.state is none%} {% else %}{{ account.state }} {% endif %}</p>
                                                            <p><label for="city">City: </label> {% if account.city is none%} {% else %}{{ account.city }} {% endif %}</p>
                                                            <p><label for="zip">Zip: </label> {% if account.zipcode is none%} {% else %}{{ account.zipcode }} {% endif %}</p>
                                                        </div>
                                                    {% else %}
                                                    <p>Please Update account before entering shipping address</p>
                                                    {% endif %}
                                                    <form id="editForm" style="display: none;" action="/account" method="POST">
                                                        {{address_form.csrf_token}}
                                                        {% if address_form.errors %}
                                                            <div class="alert alert-danger" role="alert">
                                                                {% for field_errors in address_form.errors.values() %}
                                                                    {% for error in field_errors %}
                                                                        {{ error }}
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </div>
                                                        {% endif %}
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="address_line1">Address Line 1 *</label>
                                                                {% if account.address_line1 is not none %}
                                                                    {{address_form.address_line1(class="form-control", required="required", value=account.address_line1)}}
                                                                {% else %}
                                                                    {{address_form.address_line1(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <!-- {{address_form.address_line1(class="form-control", required="required")}} -->
                                                                <br>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="address_line2">Address Line 2 *</label>
                                                                {% if account.address_line2 is not none %}
                                                                    {{address_form.address_line2(class="form-control", required="required", value=account.address_line2)}}
                                                                {% else %}
                                                                    {{address_form.address_line2(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="country">Country</label>
                                                                {% if account.country is not none %}
                                                                    {{address_form.country(class="form-control", required="required", value=account.country)}}
                                                                {% else %}
                                                                    {{address_form.country(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="state">State</label>
                                                                {% if account.state is not none %}
                                                                    {{address_form.state(class="form-control", required="required", value=account.state)}}
                                                                {% else %}
                                                                    {{address_form.state(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label for="city">City</label>
                                                                {% if account.city is not none %}
                                                                    {{address_form.city(class="form-control", required="required", value=account.city)}}
                                                                {% else %}
                                                                    {{address_form.city(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label for="zip">Zip</label>
                                                                {% if account.zipcode is not none %}
                                                                    {{address_form.zip_code(class="form-control", required="required", value=account.zipcode)}}
                                                                {% else %}
                                                                    {{address_form.zip_code(class="form-control", required="required")}}
                                                                {% endif %}
                                                                <br>
                                                            </div>
                                                        </div>
                                                        
                                                        <!-- <select id="citySelect" onchange="getZipCodes()" class="form-control">
                                                            <option value="">Select City</option>
                                                        </select> -->

                                                        <label for="phone">Phone</label>
                                                        {% if account.phone is not none %}
                                                            {{address_form.phone(class="form-control", required="required", value=account.phone)}}
                                                        {% else %}
                                                            {{address_form.phone(class="form-control", required="required")}}
                                                        {% endif %}
                                                        <br>
                                                        {{address_form.submit()}}
                                                    </form>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form action="/account" method="POST">
                                    {{ forms.csrf_token }}
                                    {% for account in accounts%}
                                    {% with messages = get_flashed_messages(with_categories=true) %}
                                        {% if messages %}
                                            {% for category, message in messages %}
                                                {% if category == 'success' %}
                                                    <div class="alert alert-success" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% elif category == 'danger' %}
                                                    <div class="alert alert-danger" role="alert">
                                                        {{ message }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}



                                    {% if forms.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for field_errors in forms.errors.values() %}
                                                {% for error in field_errors %}
                                                    {{ error }}
                                                {% endfor %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>First Name *</label>
                                            {% if account.firstname is not none %}
                                                {{ forms.firstname(class="form-control",value=account.firstname) }}
                                            {% else %}
                                                {{ forms.firstname(class="form-control") }}
                                            {% endif %}
                                        </div><!-- End .col-sm-6 -->

                                        <div class="col-sm-6">
                                            <label>Last Name *</label>
                                            {% if account.lastname is not none %}
                                                {{ forms.lastname(class="form-control",value=account.lastname) }}
                                            {% else %}
                                                {{ forms.lastname(class="form-control") }}
                                            {% endif %}
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->

                                    <label>Display Name *</label>
                                    {% if account.displayname is not none %}
                                        {{ forms.displayname(class="form-control",value=account.displayname) }}
                                    {% else %}
                                        {{ forms.displayname(class="form-control") }}
                                    {% endif %}
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>Email address *</label>
                                    {{ forms.email(class="form-control",value=user_id) }}

                                    <label>Current password (leave blank to leave unchanged)</label>
                                    {{ forms.current_password(class="form-control") }}

                                    <label>New password (leave blank to leave unchanged)</label>
                                    {{ forms.new_password(class="form-control") }}

                                    <label>Confirm new password</label>
                                    {{ forms.confirm_password(class="form-control") }}
                                
                                    {{ forms.submit() }}
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}

