<!DOCTYPE html>
<html lang="en">


{% block title %}
<title>Vibemart</title>
{% endblock title %}

<head>

    {%block header%}
        <header class="header header-2 header-intro-clearance">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">

                        <!-- Top Logo -->
                        <a href="/" class="logo">
                            <img src="../static/assets/images/demos/demo-2/logo.png" alt="Vibemart Logo" width="105" height="25">
                        </a>

                    </div>

                    <!-- Search Bar -->
                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="{{ url_for('shop') }}" method="POST">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="search" class="sr-only">Search</label>
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <input type="search" class="form-control" name="search" id="search" placeholder="Search product ..." required>
                                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="header-right">

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <div class="icon">
                                    <i class="icon-shopping-cart"></i>
                                    {% if 'cart' in session %}
                                        <span class="cart-count">{{ session['cart'] }}</span>
                                    {% endif %}
                                </div>
                                <p>Cart</p>
                            </a>
                        </div>
                        {% if 'user_id' in session %}
                        <div class="account">
                            <a href="/account" title="My account">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                                <p>My Account</p>
                            </a>
                        </div>
                        {% endif %}

                        {% if not 'user_id' in session %}
                        <div class="account">
                            <a href="/login" title="My account">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                                <p>Login</p>
                            </a>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Lighting</a></li>
                                        <li><a href="#">Moss Poles & Plant Supports</a></li>
                                        <li><a href="#">Nutrients</a></li>
                                        <li><a href="#"> Plants</a></li>
                                        <li><a href="#">Plant Care </a></li>
                                        <li><a href="#">Pots</a></li>
                                        <li><a href="#">Coffee & Tables</a></li>
                                        <li><a href="#">Substrates </a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                {% block megamenu %}
                                <li>
                                    <a href="/" >Home</a>
                                </li>
                                {% endblock megamenu %}

                                <li>
                                    <a href="/shop" >Shop All</a>
                                </li>

                                <li>
                                    <a href="/">Pages</a>

                                    <ul>
                                        <li>
                                            <a href="/about">About</a>
                                        </li>
                                        <li>
                                            <a href="/">Contact</a>
                                        </li>
                                        <li><a href="/">FAQs</a></li>
                                        <li><a href="/">Coming Soon</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 30% Off</span></p>
                    </div> -->
                </div>
            </div>
        </header>
    {% endblock header%}

    {% block content%}
        <h1>Welcome to Vibemart</h1>
    {% endblock content%}

    {%block footer%}
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="../static/assets/images/demos/demo-2/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>We started with the simple idea of sharing our love of houseplants with you! We have been an online based nursery or to contact us if you are looking for something specific.</p>
                        
                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title">Got Question? Call us 24/7</span>
                                    <a href="tel:123456789">+0123 456 789</a>
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <span class="widget-about-title">Payment Method</span>
                                    <figure class="footer-payments">
                                        <img src="../static/assets/images/payments.png" alt="Payment methods" width="272" height="20">
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Information</h4>

                        <ul class="widget-list">
                            <li><a href="#">About Vibemart</a></li>
                            <li><a href="#">How to shop on Vibemart</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4>

                        <ul class="widget-list">
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Money-back guarantee!</a></li>
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Shipping</a></li>
                            <li><a href="#">Terms and conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">My Account</h4>

                        <ul class="widget-list">
                            <li><a href="#">Account Details</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright">Copyright © 2023 Vibemart Store. All Rights Reserved.</p>
            <ul class="footer-menu">
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>

            <div class="social-icons social-icons-color">
                <span class="social-label">Social Media</span>
                <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i class="icon-youtube"></i></a>
                <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
            </div>
        </div>
    </div>
    {% endblock footer%}

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="HTML5 Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/images/icons/logo-icon.png">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../static/assets/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="../static/assets/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="stylesheet" href="../static/assets/css/skins/skin-demo-2.css">
    <link rel="stylesheet" href="../static/assets/css/demos/demo-2.css">
</head>

<body>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="../static/assets/js/jquery.waypoints.min.js"></script>
    <script src="../static/assets/js/superfish.min.js"></script>
    <script src="../static/assets/js/owl.carousel.min.js"></script>
    <script src="../static/assets/js/jquery.plugin.min.js"></script>
    <script src="../static/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="../static/assets/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->

    <script src="../static/assets/js/location.js"></script>
    <script src="../static/assets/js/main.js"></script>
    <script src="../static/assets/js/demos/demo-2.js"></script>
</body>

</html>