{% extends 'base.html' %}
{% block title %}
<title> Vibemart - Product </title>
{% endblock title%}
{% block content %}
<main class="main">
            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img src="{{ url_for('display_image', image_path=selleritems.item_image_file_name) }}" alt="Product image">
                                        </figure>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title"> {{ selleritems.item_name }}</h1>

                                    <!-- <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div>
                                        </div>
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                                    </div> -->

                                    <div class="product-price">
                                        {% if selleritems.item_offer_status == 'ON OFFER'%}
                                            <span class="new-price">$ {{selleritems.item_offer_price}}</span>
                                            <span class="old-price">$ {{selleritems.item_price}}</span>
                                        {% else %}
                                            $ {{selleritems.item_price}}
                                        {% endif %}
                                    </div>

                                    <div class="product-content">
                                        <p> {{ selleritems.item_description }}</p>
                                    </div>
                                    <div class="details-filter-row details-row-size">
                                        <label for="qty">Qty:</label>
                                        <div class="product-details-quantity">
                                            <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                        </div>
                                    </div>
                                    {% if selleritems.item_current_status == 'AVAILABLE' %}
                                    <div class="product-details-action">
                                        <a href="/shop/{{ selleritems.item_id }}/add-to-cart" class="btn-product btn-cart"><span>add to cart</span></a>
                                    </div>
                                    {% else %}
                                    <div class="product-details-action">
                                        <a href="#" class="btn-product btn-cart"><span>out of stock</span></a>
                                    </div>
                                    {% endif %}

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#"> {{ selleritems.item_category }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
{% endblock content %}